<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<div class="my-box question">
  <div class="grey-band"></div>
  <div class="text-container">
    <p><%= @question %></p>
    <p><i>-You</i></p>
  </div>
</div>
<div class="my-box answer">
  <div class="grey-band"></div>
  <div class="text-container">
    <p> <%= @answer %> </p>
    <p><i>-Your Coach</i></p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path %>
