<h1>Stupid Coaching</h1>

<form class="form-inline m-4" action="/answer">
  <div class="form-group">
    <input class="form-control" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
